extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-facebook
    a.navbar-brand(href='#') facebook
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
      
      ul.navbar-nav
        li
          a.nav-link(href="/auth/logout") Logout

  .container
    .card
      .card-header
        Make Post
      .card-body
        form(method="POST" action="/posts" id="new-post")
          textarea.form-control(rows="2", name="post", placeholder="What's on your mind ?")
      .card-footer
        button.btn.btn-primary(type="submit" form="new-post") Post
    
    .posts
      each post in posts
        .post
          .card
            .card-body
              div.flex
                img.img-circle(src="https://picsum.photos/40/40")
                div.ml-3
                  .card-title.mb-0.color-title Banu priya
                  .card-subtitle.text-muted.subtitle July 14
              p.ml-5= post.content
              
              hr
              .comments
                ul.list-group
                  each comment in post.comments
                    div.flex
                      img.img-comment.img-circle(src="https://picsum.photos/80/80")
                      div
                        li.comment-text= comment.content
                        a.ml-3.no-underline(href="#") Like
                        span.ml-2 2h

            .card-footer.border-0.comment-box-display
                form(method="POST" action="/posts/" + post.id + "/comments")
                  .flex
                    img.img-comment.img-circle(src="https://picsum.photos/80/80")
                    input.ml-1.comment-box.form-control(type="text" required autocomplete="off" name="comment" placeholder="Say something, nice...").mr8
                    
          
                